/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --pc: #424242;
    --pc2: #616161;
    --sc: #FF0000;
    --wc: #ffffff;
    --bc: #000000;
    --gc: #9E9E9E;
    --yc: #FFB31B;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--pc);
    background: var(--wc);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 24px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--pc);
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--pc);
}

button {
    border: none;
}


.custom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.custom-row::after {
    content: '';
    clear: both;
    display: table;
}

.section-title h4 {
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
    color: var(--sc);
}

.section-title p {
    max-width: 512px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
}

.custom-btn {
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid var(--sc);
    background: var(--wc);
    font-weight: 500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.custom-btn:hover {
    color: var(--wc);
    background: var(--sc);
}

.custom-btn.fill-btn {
    background: var(--sc);
    color: var(--wc);
}

.custom-btn.fill-btn:hover {
    background: var(--wc);
    color: var(--sc);
}


/* Preloader */
#pre-loader {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999999;
}

#pre-loader img {
    text-align: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    margin: 0 auto;
}

/*scrollup*/
.scrollup {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    background: var(--sc);
    cursor: pointer;
    display: none;
    border: 2px solid var(--sc);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

}

.scrollup i {
    font-size: 20px;
    color: var(--wc);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.scrollup:hover {
    background: none;
}

.scrollup:hover i {
    color: var(--sc);
}

.bg-gray {
    background: #f7f7f7;
}
