@media only screen and (max-width:991px) {

    .menubar > ul > li > a {
        padding: 5px !important;
    }

    .logo a img {
        width: 90px;
    }

    .search-content > div {
        width: 50%;
    }

}

@media only screen and (max-width:767px) {

    .logo {
        display: inline-block;
    }

    .sub-btn a span {
        padding: 0 6px;
    }

    .sub-menu > a {
        font-size: 14px;
    }

    .logo a img {
        width: 100px;
    }

    .copyright-menu {
        text-align: center;
    }

    .copyright p {
        text-align: center;
        font-size: 14px;
    }

    .footer-social {
        text-align: center;
        padding-top: 10px;
    }

    .footer-social span {
        font-size: 14px;
    }

    .favorit-middle input {
        display: inline-block;
    }

    .custom-btn.faverit-button {
        margin-left: 10px;
    }

    .favorit-middle input {
        height: 18px;
        width: 18px;
    }



}

@media only screen and (max-width:575px) {
    body {
        font-size: 14px;
    }


    .logo a img {
        width: 102px;
    }


    .footer-head h6 {
        font-size: 16px;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

    .footer-head ul li a {
        font-size: 14px;
    }

    .mobileAdd {
        left: 0 !important;
        width: 100%;
    }

    .logo a img {
        width: 80px;
    }

    .home-section h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .search-content > div {
        width: 100%;
    }

    .home-section h6 {
        font-size: 50px;
    }

    .home-section p {
        font-size: 16px;
    }

    .section-title h4 {
        font-size: 30px;
    }

    .search-content button {
        font-size: 16px;
    }

    .dokan-details table,
    th,
    td {
        font-size: 16px;
    }

    .favorite-main h4 {
        font-size: 22px;
    }

    .favorite-main p {
        font-size: 15px;
    }

    .favorit-middle input {
        height: 16px;
        width: 16px;
    }

    .pd-price div span {
        font-size: 30px;
    }

    .pd-price div del {
        font-size: 30px;
    }

    .pd-price div > i {
        font-size: 20px;
    }

    .pd-price span i {
        font-size: 20px;
    }

    .gift-btn.gift-custom-btn a {
        padding: 8px;
    }

    .gift-btn a {
        font-size: 13px;
    }

    .footer-review-btn a {
        padding: 7px 22px;
    }

    .review-box img {
        height: 80px;
        width: 80px;
    }




}
