@import "custom.css";

/*HEADER TOP*/
.header-top {
    background: #FFEBEB;
}

.header-top-left span {
    color: var(--pc2);
}

.header-top-left span:last-child::before {
    content: '|';
    padding: 0 12px;
    display: inline-block;

}

.header-top-content a {
    color: var(--wc);
    text-transform: capitalize;
}

.header-top-icons a img {
    margin-right: 10px;
}

/*HEADER TOP END*/

/*HEADER*/
header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
    background: var(--wc);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.active {
    color: var(--sc);
}

.logo a img {
    width: 110px;
}

.logo.menubar-mobile {
    cursor: pointer;
    padding: 8px 0;
}

.menubar {
    text-align: right;
}

.menubar > ul > li {
    display: inline-block;
}

.menubar > ul > li > a {
    text-transform: capitalize;
    font-weight: 600;
    padding: 6px 15px;
    -webkit-transition: .3s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-size: 15px;
}

.menubar > ul > li > a:hover {
    color: var(--sc);
}

.menubar ul li a i {
    font-size: 25px;
}

.menubar ul li a img {
    width: 16px;
    margin-right: 2px;
}

.menubar ul li a.login {
    border: 1px solid var(--pc);
}

.menubar ul li a.login:hover {
    background: var(--sc);
    color: var(--wc);
    border: 1px solid var(--sc);
}

.sub-btn {
    position: relative;
}

.sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--wc);
    width: 150px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 5px;
    z-index: 3;
}

.sub-btn:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(100%);
    -ms-transform: scaleY(100%);
    transform: scaleY(100%);
}

.sub-menu a {
    display: block;
    width: 100%;
    padding: 6px 10px;
    text-transform: capitalize;
    -webkit-transition: .3s;
    -o-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
    color: var(--pc2);
    text-transform: capitalize;
}

.sub-menu a:hover {
    border-left: 3px solid var(--sc);
    background: #FFEBEB;
}

.child-btn:hover > a {
    border-left: 3px solid var(--sc);
    background: #FFEBEB;
}

.sub-btn a span {
    padding: 0 10px;
    font-weight: 500;
    color: #C9C6C6;
}

.child-btn a {
    color: var(--pc2);
}

.sub-btn a i {
    color: #C9C6C6;
    font-size: 16px;
}

.sub-btn {
    position: relative;
}

.child-menu {
    position: absolute;
    top: 0;
    right: 101%;
    background: var(--wc);
    width: 200px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 5px;
    z-index: 3;
}

.child-btn:hover .child-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(100%);
    -ms-transform: scaleY(100%);
    transform: scaleY(100%);
}

.child-btn {
    position: relative;
}

.child-btn > a > i {
    float: right;
    font-size: 12px;
}


.menubar .menu-active {
    color: var(--sc);
}

.sub-btn a span {
    padding: 0 5px;
    font-weight: 500;
    color: var(--pc2);
}

.sub-btn a i {
    color: var(--pc2);
}


header .fa-bars {
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
}

.menubar ul li.sign-in a {
    background: #5D5FEF;
    color: var(--wc);
    border-radius: 15px;
}

/*HEADER END*/

/*MOBILE MENU*/

/*ACCORDION CUSTOM*/
.mobile-logo img {
    width: 100px;
    margin-left: 10px;
}

.mobile-logo i {
    float: right;
    margin: 5px 20px;
    color: var(--pc);
    cursor: pointer;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border: 1px solid var(--pc);
    border-radius: 50%;
    text-align: center;
    font-size: 14px;

}

.mobile-logo i:hover {
    border: 1px solid var(--sc);
    color: var(--sc);
}

.mobile-logo i:hover {
    color: var(--sc);
}

.custom.accordion-button {
    text-transform: capitalize;
    font-size: 15px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    color: var(--pc);
    font-weight: 400;
}

.custom.accordion-button:hover {
    color: var(--sc);
}

.custom.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;

}

.custom.accordion-button:not(.collapsed) {
    color: var(--sc);
    background: var(--rc);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-weight: 400;
}

.none.accordion-button:not(.collapsed)::after {
    content: none;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}


.none.accordion-button::after {
    content: none;
}

.custom.accordion-body {
    padding: 0 0px;
}

.custom.accordion-body ul {
    padding: 0;
    margin: 0;
}

.custom.accordion-body ul li {
    list-style: none;
    padding: 8px 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.custom.accordion-body ul li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--pc);
    font-weight: 400;
    display: inline-block;
    margin-left: 40px;
}

.custom.accordion-body ul li a i {
    font-size: 10px;
    margin-right: 10px;
}

.custom.accordion-body ul li:hover {
    color: var(--wc);
    background: var(--rc);
}

.custom.accordion-body ul li:hover a {
    color: var(--sc);
}

.custom.accordion-item a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.custom.accordion-item .accordion-button {
    display: block;
    width: 100%;
}

.accordion-button.custom i {
    padding: 0 10px;
}

.custom.accordion-button:focus {
    border: none;
}

/*ACCORDION CUSTOM END*/


.mobile-menu {
    width: 300px;
    position: fixed;
    left: -380px;
    top: 0;
    z-index: 3;
    background: var(--wc);
    height: 100%;
    overflow: auto;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    padding: 10px 0;
}

#mobileOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(255, 0, 0, 0.22);
    z-index: 2;
    cursor: pointer;
}

.mobileAdd {
    left: 0 !important;
    width: 300px;
}

.mobile-overlay {
    position: inherit !important;
}

/*MOBILE MENU END*/

/*HOEM SECTION*/
.home-section {
    background: #F3FEFF;
}

.home-image img {
    width: 100%;
}

.home-section p {
    font-size: 18px;
    max-width: 500px;
}

.home-section h1 {
    font-weight: 600;
    font-size: 55px;
    line-height: 65px;
    color: var(--sc);
}

.home-section h6 {
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    color: var(--yc);
    padding-bottom: 10px;
}

.home-btn a:first-child {
    color: var(--wc);
    background: var(--yc);
    padding: 4px 20px;
    border-radius: 15px;
    border: 1px solid var(--yc);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.home-btn a:first-child:hover {
    color: var(--pc);
    background: var(--wc);
}

.home-btn a:last-child {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

/*HOEM SECTION END*/

/*SEARCH SECTION*/
.search-section {
    position: relative;
    margin-top: -60px;
}

.search-section.custom-search {
    position: inherit;
    margin-top: inherit;
    padding: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.19)), to(rgba(0, 0, 0, 0.35))), url(../images/photos/search-bg.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.35)), url(../images/photos/search-bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.35)), url(../images/photos/search-bg.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-content label {
    display: block;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
}

.search-content > div {
    width: 25%;
    padding: 7px;
}

.search-content {
    background: var(--wc);
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.search-content select {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 500;
    color: #424242;
    border: 1px solid var(--gc);
}

.search-content select:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 1px solid var(--sc);
}

.search-content input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 500;
    color: #424242;
    border: 1px solid var(--gc);
}

.search-content input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 1px solid var(--sc);
}

.search-content label {
    color: var(--gc);
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
    top: -4px;
}


.search-content button {
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    background: var(--sc);
    color: var(--wc);
    border-radius: 5px;
    padding: 15px 0;
    height: 100%;
}

.search-content button i {
    margin-right: 10px;
}

/*SEARCH SECTION END*/

/*ABOUT SECTION*/
.about-image img {
    width: 100%;
}

.about-content h4 {
    color: var(--sc);
}

/*ABOUT SECTION END*/

/*HOW TO SECTION*/
.how-to-section {
    background-image: url(../images/photos/app-bg.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.how-to-content img {
    height: 200px;
}

.how-to-content {
    text-align: center;
}

.how-to-content h5 {
    color: var(--sc);
    padding-top: 15px;
}

/*HOW TO SECTION END*/

/*CLIENT SECTION*/
.client-section {
    background-image: url(../images/photos/review-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.client-box {
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #FFEBEB;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

.client-box img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.client-box h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--pc);
}

.client-box span {
    color: var(--pc2);
    font-weight: 500;
    font-size: 14px;
}

.client-box p {
    color: var(--pc2);
}

.client-box span i {
    color: var(--yc);
}

.client-box span i.bi-star {
    color: var(--wc);
}

.client-box img {
    height: 60px;
    width: 60px;
    border: 1px solid var(--sc);
    padding: 2px;
}

.slider-box {
    position: relative;
}

.next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 18px;
    height: 35px;
    width: 35px;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 35px;
    background: var(--wc);
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 13px -5px #919191;
    box-shadow: 0px 2px 13px -5px #919191;
    border: 1px solid rgba(145, 145, 145, 0.1);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    color: var(--pc);
}

.next:hover {
    color: var(--sc);
}

.prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
    left: 18px;
    height: 35px;
    width: 35px;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 35px;
    background: var(--wc);
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 13px -5px #919191;
    box-shadow: 0px 2px 13px -5px #919191;
    border: 1px solid rgba(145, 145, 145, 0.1);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    color: var(--pc);

}

.prev:hover {
    color: var(--sc);
}

/*CLIENT SECTION END*/

/*FOOTER*/
footer {
    background-image: url(../images/photos/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}


.footer-head {
    color: var(--pc);
}

.footer-head h6 {
    font-weight: 600;
    font-size: 18px;
    color: var(--wc);
    padding-bottom: 15px;
    margin-bottom: 5px;
    font-style: italic;
}

.footer-head ul li a {
    color: #E0E0E0;
    padding: 8px 0;
    text-transform: capitalize;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 14px;
    font-weight: 500;
    font-weight: 400;
}


.footer-head ul li {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
}

.footer-head ul li:hover {
    margin-left: 2px;
}


.footer-head p {
    color: #E0E0E0;
    font-weight: 400;
    font-size: 14px;
}

.footer-location p {
    position: relative;
    padding-left: 25px;
}

.footer-location p i {
    position: absolute;
    left: 0;
}

.footer-review-btn a {
    padding: 10px 30px;
    background: var(--sc);
    color: var(--wc);
    border-radius: 20px;
}

.footer-social {
    text-align: right;
}

.footer-social a i {
    color: #bababa;
    background: #525D78;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 5px;
}

.copyright {
    border-top: 1px solid #374058;
}

.copyright p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: var(--wc);
}

.copyright-menu {
    text-align: right;
}

.copyright-menu a {
    text-align: right;
    font-size: 14px;
    line-height: 26px;
    color: var(--wc);
    margin-left: 10px;
}

/*FOOTER END*/

/*CITY DOKAN*/
.city-dokan-box {
    padding: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.city-dokan-box:hover {
    -webkit-transform: translateY(-2%);
    -ms-transform: translateY(-2%);
    transform: translateY(-2%);
}

.city-dokan-box h4 {
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
}

.city-dokan-box span {
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
}

.city-dokan-box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.city-dokan-box a {}

/*CITY DOKAN END*/

/*GIFT PAGE*/
.gift-box {
    padding: 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
}

.gift-box .offer {
    position: absolute;
    left: 0;
    top: 0;
    padding: 7px 12px;
    background: var(--sc);
    color: var(--wc);
    border-radius: 15px;
}

.gift-box:hover {
    -webkit-transform: translateY(-2%);
    -ms-transform: translateY(-2%);
    transform: translateY(-2%);
}

.gift-box-image img {
    width: 60%;
}

.gift-box-image {
    text-align: center;
    padding-bottom: 10px;
}

.service-box-image {
    padding-bottom: 10px;
}

.service-box-image img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.gift-price span {
    font-size: 20px;
    font-weight: 600;
}

.gift-price del {
    font-size: 18px;
    font-weight: 600;
    color: #959595;
    padding-right: 20px;
}

.gift-box .review i {
    font-size: 13px;
    color: #FFB200;
}

.gift-box .review span {
    color: #959595;
    font-size: 14px;
    font-weight: 500;
}

.gift-btn a {
    border: 1px solid var(--sc);
    width: 48%;
    text-align: center;
    padding: 3px 0;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
}

.gift-btn a:first-child {
    color: var(--wc);
    background: var(--sc);

}

/*GIFT PAGE END*/

/*FEVORITE SECTION*/
.fevourite-header {
    text-align: center;
}

.fevourite-header h4 {
    text-align: center;
    color: var(--sc);
    background: #D3D3D3;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
}

.favorite-image {
    width: 90px;
    border: 1px solid var(--sc);
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
}

.favorite-image img {
    width: 100%;
}

.favorite-main h4 {
    color: var(--sc);
    font-size: 25px;
}

.favorite-main p {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    padding: 5px 0;
    margin: 0;
}

.favorite-main span {
    font-weight: 600;
    font-size: 20px;
}

.favorite-main del {
    padding-left: 10px;
    color: #a0a0a0;
}

.favorit-middle input {
    height: 22px;
    width: 22px;
    display: block;
    margin-bottom: 10px;
    margin-left: 8px;
}

.favorit-middle a {
    color: var(--sc);
    background: #cccccc;
    padding: 0 4px;
    border-radius: 4px;
    margin-top: 5px;
    margin: 5px;
}

.favorit-middle a i {
    font-size: 14px;
}

.custom-btn.faverit-button {
    font-style: italic;
}

.favorit-single-box {
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px;
    border-radius: 10px;
}

/*FEVORITE SECTION END*/



/*PRODUCT DETAILS*/
.product-details-section {
    background: var(--wc);
}

.shop-details-main-photo {
    text-align: center;
    padding: 20px;

    border-radius: 5px;
    background: #F1F8FB;
}

.shop-details-main-photo {
    border: 1px solid var(--sc);
}

.shop-details-main-photo img {
    max-width: 100%;
}

.shop-details-multiphoto2 {
    padding: 20px;
    background: #ffffff;
    position: relative;
}

.shop-details-multiphoto2 .small-img img {
    width: 95%;
    border: 1px solid var(--sc);
}

.shop-details-multiphoto2 .small-img {
    cursor: pointer;
}

.pd_prev.slick-disabled {
    background: gray;
    color: var(--wc);
}

.pd_prev {
    position: absolute;
    top: 50%;
    left: 6px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: var(--wc);
    background: #4a148c;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.pd_prev:hover i {
    color: var(--wc)
}

.pd_next {
    position: absolute;
    top: 50%;
    right: 6px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: var(--wc);
    background: #4a148c;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.pd_next:hover i {
    color: var(--wc);
}

.pd_next.slick-disabled {
    background: gray;
    color: var(--wc);
}

.pd-header h4 {
    color: var(--sc);
}

.pd-header a {
    margin-left: 10px;
    font-weight: bold;
}

.pd-review a {
    color: var(--ps);
    font-weight: 600;
    padding-right: 12px;
}

.pd-review a i {
    color: #848484;
}

.pd-stat i {
    color: #FFB200;
    font-size: 14px;
    padding-right: 3px;
}

.pd-text p {
    font-weight: 500;
}

.pd-price div span {
    font-size: 40px;
    padding-right: 20px;
}

.pd-price span i {
    font-size: 25px;
    font-style: normal;
}

.pd-price div > i {
    font-size: 25px;
    font-style: normal;
    opacity: .5;

}

.pd-price div del {
    font-size: 40px;
    opacity: .5;
}

.pd-price > span {
    background: var(--sc);
    font-style: italic;
    color: var(--wc);
    padding: 5px;
}

.gift-btn.gift-custom-btn a {
    padding: 10px;
}

.payment-box {
    border: 1px solid var(--sc);
    padding: 5px;
}

.payment-box img {
    width: 100%;
    height: 50px;
}

.payment-box p {
    text-align: center;
    font-weight: 600;
}

.delivery-right {
    text-align: center;
    border: 1px solid var(--sc);
    padding: 10px;
}

.delivery-right p {
    font-size: 14px;
    margin: 0;
}

.delivery-right i {
    font-size: 25px;
}

.product-youtube {
    border: 1px solid var(--sc);
}

.related-product h4 {
    border-bottom: 1px solid #adadad;
    padding-bottom: 10px;

}

.product-tabs .nav-link {
    color: var(--pc);
    font-weight: 600;
}

.product-tabs .nav-link.active {
    color: var(--sc);
}

.review-box {
    max-width: 700px;
}

.review-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid var(--sc);
    padding: 4px;
}

.review-box p {
    color: var(--pc);
    margin: 0;
}

.discription-tabs {
    color: var(--pc);
    max-width: 700px;
}

.pd-stat span {
    padding-left: 20px;
    font-weight: 600;
    color: var(--pc);
}

.base-review h5 {
    color: #000000;
}

.base-review {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
}

.dokan-details img {
    width: 100%;
    border-radius: 10px;
}

.dokan-details table {
    width: 90%;
}

.dokan-details table,
tr,
td {
    border-collapse: collapse;
}

.dokan-details table,
tr {
    border: 1px solid red;
    border-radius: 10px !important;
}

.dokan-details table,
th,
td {
    border-left: none;
    font-weight: 500;
    font-size: 20px;
}

.dokan-details table td span {
    color: var(--sc);
    font-weight: 600;
}

.dokan-details table tr td {
    padding: 10px;
}

.dokan-details table tr td:first-child {
    width: 180px;
}

/*PRODUCT DETAILS END*/

/*REVIEW MODAL*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.review-modal img {
    width: 150px;
    border: 1px solid var(--sc);
    padding: 10px;
    border-radius: 5px;
}

.review-form label {
    color: #000000;
}

.review-form textarea {
    height: 80px;
}

.review-form button {
    background: var(--sc);
    color: var(--wc);
    font-style: italic;
}

/*REVIEW MODAL END*/

/*LOGIN */

.login-section {
    background: #f2f2f2;
}
.login-section h4{
    font-weight: 400;
}
.login-section p a{
    color: var(--sc);
}
.login-box{
    max-width: 400px;
    margin: 0 auto;
}
.login-container {
    margin: 0 auto;
    padding: 30px;
    background: var(--wc);
    border-radius: 10px;
}
.password-main-input{
    position: relative;
}
.password-main-input .icon-btn{
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    padding: 10px;
    cursor: pointer;
}


.login-box label {
    color: var(--bc);
    font-weight: 500;
    display: block;
    padding-bottom: 5px;
}

.login-box input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cccccc;
}


.login-box input:focus{
      border: 1px solid var(--sc);
}

.login-box button {
    display: block;
    padding: 8px;
    text-align: center;
    color: var(--wc);
    background: var(--sc);
    border-radius: 5px;
    width: 100%;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border: 2px solid var(--sc);
    font-weight: 600;
}

.login-box button:hover {
    color: var(--sc);
    background: var(--wc);
}
.login-box input::placeholder{
    font-weight: 500;
    color: #cccccc;
    font-size: 15px;
}
.login-box .forget-password{
    text-align: center;
}
.login-box .forget-password a{
    color: var(--sc);
    font-size: 15px;
}
.login-box .forget-password a:hover{
    text-decoration: underline;
}
.login-box .or-login p{
    font-size: 15px;
    font-weight: 500;
}
.login-box .or-login a{
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}
.login-box .or-login a i{
    margin-right: 15px;
    font-size:22px;
}
.login-box .or-login a.facebook{
    background: #1096f5;
}
.login-box .or-login a.facebook:hover{
    opacity: 0.8;
}
.login-box .or-login a.google{
    background: #ce4740;
}
.login-box .or-login a.google:hover{
    opacity: 0.8;
}
.login-box .send-btn{
    border: 1px solid #cccccc;
    padding: 5px;
    background: #e7e7e7;
    border-radius: 4px;
    right: 5px;
    font-size: 15px;
}
/*LOGIN  END*/




/*DASHBOARD*/

.dashboard-menu .d-title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 700;
}

.dashboard-menu ul li {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
}

.dashboard-menu ul li.d-active {
    color: var(--sc);
}


.dashboard-menu ul li a {
    display: block;
    transition: .3s;
}
.dashboard-menu ul li a:hover{
    color: var(--sc);
}


.dashboard-menu ul li a i {
    padding-right: 5px;
    font-size: 16px;
}


.dashboard-title h6 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.dashboard-body{
    height: 100%;
    padding: 10px 0;
}

.dashboard-main {
    background: #EFF0F4;
    border-radius: 7px;
    overflow: hidden;
}

.dashboard-bar i {
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--sc);
    transition: .2s;
}
.dashboard-bar i:hover{
    background: var(--wc);
    color: #000000;
}
.d-close-btn {
    position: absolute;
    right: 22px;
    top: 9px;
    z-index: 1;
}
.d-close-btn i{
    font-size: 20px;
    background: var(--sc);
    height: 32px;
    width:32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    color: var(--wc);
    cursor: pointer;
    border: 1px solid #cccccc;
    transition: .2s;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    
}
.d-close-btn i{
     background: var(--wc);
    color: #000000;
}

.dashboard-menu ul li a{
    padding-left: 15px;
    font-weight: 500;
}
.dashboard-menu ul li.d-title a{
    padding-left: 0px !important;
    font-weight: 700;
}
.dashboard-menu ul li.d-active a{
    color: var(--sc);
}
.custom-card.card{
    background: #ffffff;
    border: none;
}
.dashboard-tabs .nav-pills{
    border-bottom: 1px solid #cccccc;
}
.dashboard-tabs .nav-pills .nav-link.active{
    background: none;
    color: var(--pc);
    border-bottom: 2px solid var(--pc);
    border-radius: 0;
}
.dashboard-tabs .nav-pills .nav-link{
    color: var(--pc);
    font-size: 15px;
    font-weight: 500;
}
.order-product .card-header p{
    margin: 0;
    font-weight: 500;
    font-size: 15px;
}
.order-product .card-header small{
    color: #818181;
}
.order-product .card-header p span{
    color: var(--sc);
}
.order-product .card-header a{
    color: var(--sc);
    font-size: 14px;
    font-weight: 500;
}
.order-product .order-product{
    width: 100px;
    border: 1px solid #e9e9e9;
    margin-right: 5px;
}
.order-product .qty p{
    font-size: 15px;
}
.order-product .qty p span{
    color: #cccccc;
}
.order-product .product-review a{
    padding: 2px 10px;
    background: var(--sc);
    border-radius: 8px;
    color:  #ffffff !important;
    font-size: 14px;
}
.order-product .product-review a:hover{
    opacity: 0.8;
}
.order-product .review a{
    color: var(--sc);
    font-size: 14px;
    font-weight: 500;
}
.order-product  .delevird{
    font-size: 12px;
    background: #cccccc;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 500;
}
.order-product .date p{
    font-size: 14px;
    font-weight: 500;
}
.order-product .p-main p{
    max-width: 300px;
    margin: 0;
}
.order-product .attribute span{
    color: #808080;
    font-size: 14px;
}
.order-product .price b{
    color: var(--sc);
}
.order-product .price p{
    font-weight: 500;
    margin: 0;
}
.order-product .price p del{
    color: #919191;
}
.order-product .price span{
    color: green;
    font-size: 14px;
    font-weight: 500;
}
.order-product .product-cart a{
    background: var(--sc);
    padding: 4px 20px;
    color: #ffffff;
    border-radius: 5px;
}
.order-product .product-cart a i{
    font-size: 15px;
}
@media only screen and (max-width:991px) {
    .dashboard-left-menubar{
        position: fixed;
        top: 0;
        z-index: 3;
        height: 100vh;
        width: 300px;
        left: -350px;
        transition: .4s;
    }
    .dashboard-menu{
        height: 100%;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .dashboard-left-menubar.close{
        left: -12px;
    }
    
}

/* order detaisl */
.d_order-details .order-number p{
    font-size: 15px;
    margin: 0;
    font-weight: 500;
}
.d_order-details .order-number span{
    color: #868686;
    font-size: 14px;
}
.d_order-details .order-number .total p{
    font-size: 16px;
    font-weight: 600;
}
.d_order-details .package-header h6{
    margin: 0;
    font-weight: 500;
}
.d_order-details .package-header p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.d_order-details .package-header p span{
    color: var(--sc);
}
.d_order-details .package-header a{
    color: var(--sc);
    font-size: 14px;
    font-weight: 500;
}
.d_order-details .card-body .delivery-data p{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
.d_order-details  .card-body .delivery-box{
    border: 1px solid #d8d8d8;
    padding: 8px;
    border-radius: 10px;
    background: #f1f1f1;
    max-width: 700px;
    margin:  0 auto;
}
.d_order-details  .card-body .delivery-box p{
    font-size: 14px;
    margin: 0;
}
.d_order-details  .card-body .delivery-box  p span{
    color: #838383;
}
.d_order-details  .card-body .delivery-box  a{
    color: var(--sc);
    font-weight: 500;
    font-size: 14px;
}
.d_order-details .order-address h6{
    font-weight: 500;
}
.d_order-details .order-address p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.d_order-details .order-address p span{
    background: var(--sc);
    padding: 1px 8px;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
}
.my-review .my-star i{
    color: rgb(226, 192, 0);
}
.my-review span i{
    color: var(--sc);
    margin-right: 15px;
}
.my-review a{
    font-size: 14px;
    border: 1px solid #cccccc;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 3px;
    transition: .2s;
}
.my-review a:hover{
    border: 1px solid var(--sc);
}
.my-review .comment p{
    color: var(--pc);
}
.my-review .screenshort img{
    width: 150px;
}
/* order detaisl end*/


/*DASHBOARD END*/
